<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <mat-form-field *ngSwitchCase="'text'">
      <input
        [placeholder]="question.label"
        matInput
        [formControlName]="question.key"
        [type]="question.type">
      <mat-error *ngIf="form.controls[question.key].invalid">
        {{question.label}} is required
      </mat-error>
    </mat-form-field>
    <ng-container *ngSwitchCase="'array'">
      <div [formGroup]="form.controls[question.key]">
        <mat-form-field *ngFor="let control of objectToArray(form.controls[question.key]); let i = index;">
          <input
            [placeholder]="question.label"
            matInput
            [formControlName]="question.key + i"
            [value]="control.value"
            [type]="'text'">
          <mat-error *ngIf="form.controls[question.key].invalid">
            {{question.label}} is required
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>


  </div>
</div>
