<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>list</mat-icon>
  </button>
  Витрина
</mat-toolbar>

<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" opened="true">
    <app-nav></app-nav>
  </mat-sidenav>
  <mat-card>
    <button mat-raised-button appMyDirective>
      lkssjdaslkdj
    </button>
    <mat-input-container>
      <input
        matInput
        placeholder="Login"
        required
        [(ngModel)]="username"
        #userName="ngModel"
        (ngModelChange)="changes($event)">
    </mat-input-container>
    <button
      mat-raised-button
      color="primary"
      [disabled]="userName.invalid">
      принять
    </button>
    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>

